streamlit
ffmpeg-python
imageio-ffmpeg
yt-dlp
edge-tts
google-genai
groq
openai
requests
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
ctranslate2
faster-whisper
git+https://github.com/m-bain/whisperx.git
